* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


:root{
    --primary-color: #2A9398;
    --secondary-color: #737575;
    --light-color: #F5FBFC;
    --dark-color: #181A1B;
    --no-color: transparent;
}

header{
    background: url(../images/background_1.png) no-repeat;
    background-size: cover;
    background-position: right;
}
 
.text-black {
    color: black;
}

.btn-info {
    background: url(../images/btn-bg.png) no-repeat center;
    background-size: cover;
}

.btn-dark {
    background: url(../images/bg-dark.png) no-repeat center;
    background-size: cover;
}

.top-bar {
    background: url(../images/bg-top.png) no-repeat center;
    background-size: cover;
}

section#about {
    background: url(../images/background_2.png) no-repeat;
    background-size: cover;
    background-position: right;
}

section#menu .menu-list{
    background: url(../images/background_3.png) no-repeat center;
    background-size: cover;
}

section#support .support-text,
.contact-form {
    background: url(../images/bg-box.png) no-repeat center;
    background-size: cover;
    height: 100vh;
}

section#call-store {
    background: url(../images/background_2.png) no-repeat;
    background-size: cover;
    background-position: right;
}

.counter-box {
	display: block;
	background: #f6f6f6;
	padding: 40px 20px 37px;
	text-align: center
}

.counter-box p {
	margin: 5px 0 0;
	padding: 0;
	color: #909090;
	font-size: 18px;
	font-weight: 500
}

.counter-box i {
	font-size: 60px;
	margin: 0 0 15px;
	color: #d2d2d2
}

.counter { 
	display: block;
	font-size: 32px;
	font-weight: 700;
	color: #666;
	line-height: 28px
}

.counter-box.colored {
      background: #3acf87;
}

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
	color: #fff
}